h1 {
	font-family: helvitica;
	font-style: italic;
	color: #7CA982;
	background-color: #FF934F ;
	background-position: 200px;
	opacity: .75;


}

body {
	text-align: center;
	background-image: url("../img/fractal3.gif");
}

body > div.container {
	text-align: center;
	background-color: #0F0326;
	background-position: 200px;
	height:300px;
	width: 300px;
	margin-top: 50px;
	padding-top: 28px;
	padding-left: 37px;
	border-radius: 60px;
}

div.calimage {
	background-image: url("../img/fractal2.gif");
	background-position: 150px;

}

div button.btn {
	text-align: center;
	padding-right: 10px;
	margin: 4.25px;
	color: #000;
	background-color: #FF4D80;
	font-family: helvitca;
	font-weight: bolder;
	font-size: 12px;
	
}



#calimage {
	text-align: center;
	padding-left: 40px;
	margin-right: 20px;
	padding-top: 10px;
	background-image: url("../img/fractal2.gif");
	background-position: -400px;
}