
/*body color for all welcome, resume, and portfolio*/

body {

	font-size: 20px;
	text-align: center;
	margin: 0;
  	background-color: white;
  	min-height: 400px;
   	margin-bottom: 100px;
   	clear: both;
	
}

/*portfolio website interaction*/

figure.websites:hover {

	background-color: #94C595;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 5px 5px black; 
}

figure.websites:active {

	color: #EFA9AE;
	background-color: #98473E;

}

/*portfolio yoga imgs*/

figure img {
	
	object-fit:cover;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 300px;
	width: 300px;
	
}

.top{
	width:100%;
	left:0;
}
.top img { 

	width:100%;
	height:800px;

}

.starter-template {

	padding: 40px 15px;
	text-align: center;

}

/*my name .navigation*/

.navigation {
	
	font-size: 30px;
	text-align: center;
}



/*navigation box around welcome name*/

.navbar-static-top {

  text-align: center;

}

/*welcome blockquote*/

div #welcomeBlockquote {

	background-color: #F1E9DB;

}

/*navigation button actions*/

.navigation div {

	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	/* ...and now for the proper property */
  	transition:.5s;
	color: #143109;
	background-color: #B4B8AB;
	margin-bottom: 25px;

}

.navigation div:hover {
	background-color: #E0EEC6;
}

.navigation div a{
	text-decoration: none;
	color: #143109;

}
.navigation div a:hover {
	color: #7A4419;
}

/*font color for all paragraphs*/
div.row {
	color: #143109;
}

footer {
	
	background: #000;
	text-align: center;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
  
}

