
/*body color for all welcome, resume, and portfolio*/

body {
	
	
	font-size: 20px;
	text-align: center;
	margin: 0;
  	height: 1000px;
	
}

 .top {
	
	
	margin: 0;
	position: relative;
	width: 100%;
	background-image: url("../img/IMG_5822.jpg");
	height: 1000px;
	opacity: 1;
	text-align: center;
	font-family: 'Handlee', cursive;
	font-size: 80px;
	font-weight: 100;
	color: #fff;

}

.title {
	object-fit: fill;
  	position: absolute;
  	top: 60%;
  	left: 100px;

}

/*portfolio website interaction*/

figure.websites:hover {

	background-color: #94C595;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 5px 5px black; 
}

figure.websites:active {

	color: #EFA9AE;
	background-color: #98473E;

}

}
.starter-template {

	padding: 40px 15px;
	text-align: center;

}

/*my name .navigation*/

.navigation {
	
	font-size: 30px;
	text-align: center;
}

/*jwsleep image properties*/

#jwsleep {

	height: 400px;
	width: 400px;
	padding-top: 25px;
	background-size: 600% 600%;

}

/*navigation box around welcome name*/

.navbar-static-top {

  text-align: center;

}

/*welcome blockquote*/

div #welcomeBlockquote {

	background-color: #F1E9DB;

}

/*navigation button actions*/

.navbar-static-top div {

	background-color: #FF784F;
	margin-bottom: 25px;

}

.navbar-static-top div:hover {
	background-color: #E0EEC6;
}

.navbar-static-top div a{
	color: #93032E;
}
.navbar-static-top div a:hover {
	color: #7A4419;
}

/*font color for all paragraphs*/
div.row {
	color: #143109;
}

